.yellow {
    box-shadow: 0px 4px 0px 0px rgb(250, 204, 21);
}

.red {
    box-shadow: 0px 4px 0px 0px rgb(220, 38, 38);
}

.green {
    box-shadow: 0px 4px 0px 0px rgb(22, 163, 74);
}

.active-button:hover {
    background-color: #4438cae3;

    &:active {
        background-color: rgb(68, 56, 202);
    }
}

.personalized-height {
    height: calc(100vh - 118px);
}

.modal{
    z-index: 105;
}

.cores{
    align-items: center;
}

.bt-yellow{
    cursor: pointer;
    appearance:none;
    border-radius:50%;
    width: 1.5vw;
    height: 3vh;
    background-color:#fff;
    transition:all ease-in 0.2s;
    border:2px solid rgb(224, 231, 9);
    margin-left: 1vw;
}

.bt-yellow:checked{
    background-color:rgb(224, 231, 9);
    box-shadow:0 0 0 1px rgb(224, 231, 9);
}

.bt-yellow:hover{
    background-color:rgb(224, 231, 9);
}


.bt-red{
    cursor: pointer;
    border:2px solid rgb(252, 40, 2);
    appearance:none;
    border-radius:50%;
    width: 1.5vw;
    height: 3vh;
    background-color:#fff;
    transition:all ease-in 0.2s;
    margin-left: 1vw;
}

.bt-red:checked{
    box-shadow:0 0 0 1px rgb(252, 40, 2);
    background-color:rgb(252, 40, 2);
}

.bt-red:hover{
    background-color:rgb(252, 40, 2);
}

.bt-green{
    cursor: pointer;
    border:2px solid #392;
    appearance:none;
    border-radius:50%;
    width: 1.5vw;
    height: 3vh;
    background-color:#fff;
    transition:all ease-in 0.2s;
    margin-left: 1vw;

}

.bt-green:checked{
    box-shadow:0 0 0 2px #392;
    background-color:#392;
}

.bt-green:hover{
    background-color:#392;
}