.yellow {
    box-shadow: 0px 4px 0px 0px rgb(250, 204, 21);
}

.red {
    box-shadow: 0px 4px 0px 0px rgb(220, 38, 38);
}

.green {
    box-shadow: 0px 4px 0px 0px rgb(22, 163, 74);
}

.active-button:hover {
    background-color: #4438cae3;

    &:active {
        background-color: rgb(68, 56, 202);
    }
}

.personalized-height {
    height: calc(100vh - 118px);
}

.modal{
    z-index: 105;
}